<ion-view view-title="Game">
  <ion-content class="">
    <!-- Page to control the rhythm game. Use game.js && rhythm.js. -->
    <div class="">
      <div class="bar bar-light subheader">
        <h1 class="title">Accuracy: {{accuracy}}%</h1>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="rhythText">{{gameRhythmDisplay}}</div>

<!--     <div class="container">
      <button class="button button-block" ng-click="generateGRhythm(1)">Generate Rhythm</button>
    </div>

    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Difficulty Level
        </div>
        <select>
          <option selected>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </label>

    </div> -->
    <div class="list">
      <div class="row topButtons">
        <div class="col col-50">
          <div class="container">
            <button class="button button-block" ng-click="generateGRhythm({{globalLevel}})">New</button>
          </div>
        </div>
        <div class="col col-50">
        <div class="container">
          <button class="button button-block" ng-click="changeLevel()">Level: {{globalLevel}}</button>
        </div>
      </div>
    </div>

    <div class="drum" on-touch="startTime($event)" ng-click="findPos($event)" on-release="stopTime()">Start tapping the Rhythm in the space below
      <div class="drumTap {{popColor}} left:{{drumX}}px top:{{drumY}}px"></div>
      <style>
        /*p    {color:green;}*/

        .drumTap {
          left: {{drumX-25}}px;
          top: {{drumY-25}}px;
          /*top: {{drumY}};*/
        }
    </style>
    </div>
    
    
    <!--
    <div class="row topButtons">
      <div class="col col-50">
        <button class="button button-block icon-right ion-play topButtons" ng-click="startExercise()" ng-if="showStartButton">Start</button>
        <button class="button button-block icon-right topButtons {{pauseBtn.ionname}}" ng-click="pauseExercise()" ng-if="!showStartButton">{{pauseBtn.name}}</button>
      </div>
      <div class="col col-50">
        <button class="button button-block icon-right ion-ios-skipforward topButtons" ng-click="skipExercise()">Skip</button>
      </div>
    </div>
    
    <div class="bar bar-dark subheader">
      <button class="button button-clear icon-left ion-minus-circled" ng-click="data.shouldShowDelete = !data.shouldShowDelete"></button>
      <button class="button button-clear icon-left ion-plus-circled" ng-click="addExercise()"></button>
        <h1 class="title">Exercises</h1>
        <button class="button button-clear icon-right" ng-click="data.showReordering = !data.showReordering">Reorder</button>
    </div>
    <ion-list class="list" show-reorder="data.showReordering" show-delete="data.shouldShowDelete" can-swipe="data.canSwipe">
      <br>
      <br>
      <ion-item ng-repeat="exercise in updateExerciseList() track by $index" class="item icon-left">
       {{exercise.exercise}}
       
        <span class="item-note">{{exercise.time}} seconds</span>
        <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(exercise, $fromIndex, $toIndex)"></ion-reorder-button>
        <ion-delete-button class="ion-minus-circled" ng-click="removeExercise($index)"></ion-delete-button>
        <ion-option-button class="button-assertive" ng-click="editExercise($index)">
          Edit
        </ion-option-button>
      </ion-item>
    </ion-list> -->
  </ion-content>
</ion-view>

<!-- store in firebase -->

<!-- add list-avatar pictures for each exercise later -->

<!-- fix input number in build.html and fix the color of nav-bar in tab-account.html -->

<!-- add an informational tab -->
<!-- add mail my accuracy -->

<!-- draw out a layout for the page. -->