/* Empty. Add your own CSS if you like */
@font-face {
	font-family: "Rhyth";
	src: url("../fonts/Rhyth.otf") format("opentype");
}

.rhythText {
	font-family: "Rhyth";
	width: 80%;
	margin-left: 10%;
	font-size: 2rem;
	letter-spacing: 0.1rem;
}

.drum {
	width: 80%;
	height: 50px;
	border-radius: 50%;
	background: #fff;
}